ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
}
li {
    float: left;
}
li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
li a:hover{
    background-color: dodgerblue;
}

